<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Product Uploader</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">Home</a></li>
                    <li>Product Uploader</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="load-image">
    <div class="container">
        <form>
            <!-- Product Form -->
            <h5>Product Details </h5>
            <div class="form-group row product-details">
                <div class="col-sm-12">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="product.title">
                </div>

                <div class="col-sm-6">
                    <label for="exampleFormControlInput1">Price</label>
                    <input type="number" class="form-control" [disabled]="false">
                </div>

                <div class="col-sm-6">
                    <label for="exampleFormControlInput1">New Price</label>
                    <input type="number" class="form-control" [disabled]="true">
                </div>
                <div class="col-sm-12">
                    <label for="exampleFormControlInput1">Short Description</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-12">
                    <label for="exampleFormControlInput1">Long Description</label>
                    <textarea type="text" class="form-control"></textarea>
                </div>
                <div class="col-sm-12">
                    <label for="exampleFormControlInput1">Aditional Info</label>
                    <textarea type="text" class="form-control"></textarea>
                </div>
                <div class="col-sm-12">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2 category" for="inlineFormCustomSelect">Category</label>
                        <select class="form-control" name="categoryId" [(ngModel)]="product.categoryId">
                            <option [value]="category.id" *ngFor="let category of categories">
                                {{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                        [checked]="product.inStock">
                    <label class="form-check-label" for="defaultCheck1">In Stock</label>
                </div>
                <div class="col-sm-12">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                        [checked]="product.outOfStock" [disabled]="true">
                    <label class="form-check-label" for="defaultCheck1">Out Of Stock</label>
                </div>
                <div class="col-sm-12">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                        [checked]="product.onSell">
                    <label class="form-check-label" for="defaultCheck1">On Sell</label>
                </div>
            </div>


            <!-- Image uploader -->
            <div class="col-md-6 dragNdrop" *ngIf="!imageChangedEvent">
                <div class="form-group files color">
                    <h5>Upload Your Image </h5>
                    <input type="file" class="form-control" (change)="fileChangeEvent($event)">
                </div>
            </div>
            <br />
            <br />
            <div *ngIf="imageChangedEvent" class="editImage">
                <h5>Edit image</h5>
                <button type="button" class="btn btn-outline-primary" (click)="rotateLeft()">Rotate left</button>
                <button type="button" class="btn btn-outline-primary" (click)="rotateRight()">Rotate right</button>
                <button type="button" class="btn btn-outline-primary" (click)="flipHorizontal()">Flip
                    horizontal</button>
                <button type="button" class="btn btn-outline-primary" (click)="flipVertical()">Flip vertical</button>
                <br />
                <br />
                <button type="button" class="btn btn-outline-primary"
                    (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain
                    Within Aspect Ratio'}}</button>
                <button type="button" class="btn btn-outline-primary" (click)="resetImage()">Reset image</button>
                <button type="button" class="btn btn-outline-secondary" (click)="newImage()">New image</button>
                <br />
                <br />
                <div id="zoom">
                    <button class="btn btn-outline-primary" (click)="zoomOut()">Zoom -</button>
                    <button class="btn btn-outline-primary" (click)="zoomIn()">Zoom +</button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Resize and crop image</h5>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3"
                            [resizeToWidth]="1075" [resizeToHeight]="795" [cropperMinWidth]="1075"
                            [onlyScaleDown]="true" [canvasRotation]="canvasRotation" [transform]="transform"
                            [alignImage]="'left'" [autoCrop]="true" [style.display]="showCropper ? null : 'none'"
                            [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                            (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                    </div>
                    <div class="col-md-6">
                        <h5>Preview</h5>
                        <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid grey' : 'none'" />
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary" (click)="save()">Save</button>
            <button type="button" class="btn btn-outline-danger remove-buttom" (click)="remove()">Remove</button>

        </form>
    </div>
</div>