<div class="collection-area pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="collection-box">
                    <img src="assets/img/STA-EARRINGS/720x1000/1.jpg" alt="collection-image">
                    <div class="content">
                        <span>Top Collection</span>
                        <h3>EARRINGS</h3>
                        <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="collections-list">
                    <div class="collection-box">
                        <img src="assets/img/STA-PaintedOnCanvas/810x385/1.jpg" alt="collection-image">
                        <div class="content">
                            <span>New Arrival</span>
                            <h3>PAINTED ON CANVAS</h3>
                            <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                        </div>
                    </div>
                    <div class="collection-box">
                        <img src="assets/img/STA-PaintingOnBoard/810x385/1.jpg" alt="collection-image">
                        <div class="content">
                            <span>New Arrival</span>
                            <h3>PAINTED ON BOARD</h3>
                            <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>