<div class="collection-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/STA-PaintedOnCanvas/720x935/1.jpg" alt="collection-image">
                    <div class="content">
                        <h3>PAINTED ON CANVAS</h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/STA-PaintingOnBoard/720x935/1.jpg" alt="collection-image">
                    <div class="content">
                        <h3>PAINTED ON BOARD</h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/STA-EARRINGS/720x935/1.jpg" alt="collection-image">
                    <div class="content">
                        <h3>EARRINGS</h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>