<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-12">
            <div class="partner-title">
                <h4>Our Trusted Branding Partners</h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="partners-list align-items-center">
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner1.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner2.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner3.png" alt="partner">
                    </a>
                </div>
                <!-- <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner4.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner5.png" alt="partner">
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>