<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-footer-widget pr-5">
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p>Copyright @2021 PrototypeAr. All Rights Reserved By <a href="https://diegocampos.me/" target="_blank">Diego Campos</a></p>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="payment-type">
                        <img src="assets/img/payment.png" alt="payment-type">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>