<div class="feedback-area pt-100 bg-f5f5f5 pb-70">
    <div class="feedback-slides">
        <div class="section-title style-two">
            <h2>Our Customers Feedback</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <owl-carousel-o [options]="feedbackSlides">
            <ng-container *ngFor="let feedback of feedbackList;">
                <ng-template carouselSlide [id]="feedback.id">
                    <div class="single-feedback-item">
                        <p>{{feedback.feedback}}</p>
                        <h3>{{feedback.name}} <span *ngIf="feedback.from">- {{feedback.from}}</span></h3>
                        <div class="rating">
                            <i class="fas fa-star" *ngFor="let i of Arr(feedback.rating).fill(1);"></i>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>