// @import "../../../common/feedback/feedback.component.scss";

.feedback-area {
    padding: 20px 35px 10px 35px;
    background-color: rgb(233, 229, 229);
    .single-feedback-item {
    // background-color: rgba(226, 222, 222, 0.959);
    }
    .rating {
        color: rgb(243, 201, 17);
    }
}